.mail {
  /* border: 1px solid red; */
  background-color: whitesmoke;
  flex: 1;
}

.mail__tools {
  background-color: white;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mail__toolsLeft {
  display: flex;
}

.mail__body {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: white;
  padding: 20px;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.mail__bodyHeader {
  border-bottom: 1px solid whitesmoke;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.mail__bodyHeader > h2 {
  font-weight: 500;
  margin-right: 20px;
}

.mail__bodyHeader > p {
  margin-left: 10px;
}

.mail__bodyHeader > p:last-of-type {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 12px;
  color: gray;
}

.mail__important {
  color: #e8ab02 !important;
}

.mail__message > p {
  /* border: 1px solid red; */
  padding: 10px;
  margin-right: 20px;
  overflow: break-word;
}
