.sidebar {
  /* border: 1px solid red; */
  flex: 0.3;
  max-width: 300px;
  padding: 20px 10px;
}

.sidebar__button {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4) !important;
  font-weight: bolder !important;
  border-radius: 100px !important;
  padding: 10px 13px !important;
  background-color: white !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.sidebar__options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__footer {
  margin-top: 15px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
